.container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 120px repeat(7, 1fr);
  grid-template-rows: 20px repeat(4 1fr);
}

.container > * {
  background-color: rgba(255, 228, 196, 0.5);
  border: 1px solid lightgray;
}

.day { grid-row-start: 1; grid-row-end: 6;}
.day1 { grid-column: 2}
.day2 { grid-column: 3}
.day3 { grid-column: 4}
.day4 { grid-column: 5}
.day5 { grid-column: 6}
.day6 { grid-column: 7}
.day7 { grid-column: 8}

.name {grid-column-start: 1; grid-column-end: -1;}
.name0 { grid-row: 1}
.name1 { grid-row: 2}
.name2 { grid-row: 3}
.name3 { grid-row: 4}
.name4 { grid-row: 5}
