<div class="container">
  <div class="day day0">&nbsp;</div>
  <div class="day day1">Sun</div>
  <div class="day day2">Mon</div>
  <div class="day day3">Tue</div>
  <div class="day day4">Wed</div>
  <div class="day day5">Thu</div>
  <div class="day day6">Fri</div>
  <div class="day day7">Sat</div>

  <div class="name name0">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </div>
  <div class="name name1">
    <div>Hudson Walter</div>
    <div class="taskrow">***</div>
  </div>
  <div class="name name2">
    <div>Alice Bartlett</div>
    <div class="taskrow">***</div>
  </div>
  <div class="name name3">
    <div>Brian Nolan</div>
    <div class="taskrow">***</div>
  </div>
  <div class="name name4">
    <div>Patricia Sauer</div>
    <div class="taskrow">***</div>
  </div>
</div>
