.container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 120px repeat(7, 1fr);
  grid-template-rows: 20px repeat(4 1fr);
}

.container > * {
  border: 1px solid lightgray;
}

.day { grid-row-start: 1; grid-row-end: span 6;}
.day0 { grid-column: 1}
.day1 { grid-column: 2}
.day2 { grid-column: 3}
.day3 { grid-column: 4}
.day4 { grid-column: 5}
.day5 { grid-column: 6}
.day6 { grid-column: 7}
.day7 { grid-column: 8}

/* name also behaves like an inner grid */
.name {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-template-columns: 120px auto;
}
.name0 { grid-row: 1}
.name1 { grid-row: 2}
.name2 { grid-row: 3}
.name3 { grid-row: 4}
.name4 { grid-row: 5}
